# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js

# Testing
coverage
*.lcov
.nyc_output
test-results
playwright-report

# Build
dist
build
lib
*.js.map

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
.gitattributes

# CI/CD
.github

# Documentation
*.md
docs

# Firebase
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log

# Other
.husky
